node_modules
dist/
config.env
.env
.env.*
.env-*

# Remove the lock below if you're using npm
*-lock.json
# Remove the lock below if you're using pnpm
*-lock.yaml
# Remove the lock below if you're using yarn
*.lock

logs
*.log
*-debug.log*
*-error.log*